# Importing Libraries and Data Loading

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_credits = pd.read_csv('../raw_data/credits.csv')
df_movies = pd.read_csv('../raw_data/movies_dataset.csv')

C:\Users\ASUS X515\AppData\Local\Temp\ipykernel_18900\4032513000.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('../raw_data/movies_dataset.csv')

# Movies

In [3]:
df_movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [4]:
df_movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

## Transforming Columns

In [5]:
import ast

ast.literal_eval(df_movies["belongs_to_collection"][0]) # convert string elements in this column to dictionaries

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [6]:
df_movies["collection"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_movies["belongs_to_collection"]]

In [7]:
df_movies["collection"][0].get("name") # get the value using the key

'Toy Story Collection'

In [8]:
df_movies["collection"] = [x.get("name") if type(x) == dict else np.nan for x in df_movies["collection"]] # new column that will replace "belong_to_collection"

The following columns are lists of dictionaries, so they will need slightly different treatment.

In [9]:
df_movies["genres_list"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_movies["genres"]]

In [10]:
df_movies["genres_list"][0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [11]:
df_movies["genres_list"][0][0]["name"]

'Animation'

In [12]:
 # for every element in the column, we do a comprehension list
df_movies["genres_list"] = [[genre["name"] for genre in element] for element in df_movies["genres_list"]]

Repeating this process for other columns with similar structure.

In [13]:
# converting strings to lists

df_movies["spoken_languages_list"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_movies["spoken_languages"]]
df_movies["production_companies_list"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_movies["production_companies"]]
df_movies["production_countries_list"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_movies["production_countries"]]

In [14]:
df_movies["spoken_languages_list"] = [[language["iso_639_1"] for language in element] if type(element) == list else np.nan for element in df_movies["spoken_languages_list"]]

In [15]:
df_movies["production_companies_list"] = [[company["name"] for company in element] if type(element) == list else np.nan for element in df_movies["production_companies_list"]]

In [16]:
df_movies["production_countries_list"] = [[country["iso_3166_1"] for country in element] if type(element) == list else np.nan for element in df_movies["production_countries_list"]]

Now we drop the columns we won't goint to use.

In [17]:
discard_columns = ["video","imdb_id","adult","original_title","poster_path", 
                   "homepage","belongs_to_collection", "genres", 
                   "production_companies", "production_countries",
                    "spoken_languages" ]

In [18]:
df_movies.drop(columns=discard_columns, inplace=True)

## Handling Missing Values and Adding Columns

In [19]:
df_movies.isna().mean()

budget                       0.000000
id                           0.000000
original_language            0.000242
overview                     0.020983
popularity                   0.000110
release_date                 0.001914
revenue                      0.000132
runtime                      0.005785
status                       0.001914
tagline                      0.551049
title                        0.000132
vote_average                 0.000132
vote_count                   0.000132
collection                   0.901223
genres_list                  0.000000
spoken_languages_list        0.000132
production_companies_list    0.000132
production_countries_list    0.000132
dtype: float64

In [20]:
# there are non numerical values in budget column so it can not be converted to float
df_movies[df_movies['budget'].str.contains(r'\D')]

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection,genres_list,spoken_languages_list,production_companies_list,production_countries_list
19730,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,1997-08-20,104.0,Released,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Carousel Productions, Vision View Entertainme...",NaN,NaN,NaN
29503,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,2012-09-29,68.0,Released,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Aniplex, GoHands, BROSTA TV, Mardock Scramble...",NaN,NaN,NaN
35587,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,2014-01-01,82.0,Released,Beware Of Frost Bites,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Odyssey Media, Pulser Productions, Rogue Stat...",NaN,NaN,NaN

In [21]:
def convert_to_float(value): 
    try:
        return float(value) 
    except (ValueError, TypeError): # if there is an error, it will replace the strange values for null values
        return np.nan

In [22]:
df_movies["budget"] = [convert_to_float(x) for x in df_movies["budget"]]

In [23]:
df_movies["budget"].fillna(0, inplace=True)
df_movies["revenue"].fillna(0, inplace=True)

In [24]:
df_movies['release_date'].sort_values() # there are values that we can not convert in date type

19730             1
29503            12
34940    1874-12-09
34937    1878-06-14
41602    1883-11-19
            ...
45148           NaN
45203           NaN
45338           NaN
45410           NaN
45461           NaN
Name: release_date, Length: 45466, dtype: object

In [37]:
def convert_to_datetime(value): 
    try:
        return pd.to_datetime(value, format="%Y-%m-%d")
    except (ValueError, TypeError):  
        return np.nan

In [40]:
df_movies['release_date'] = [convert_to_datetime(x) for x in df_movies['release_date']]
df_movies["release_year"] = df_movies["release_date"].dt.year

In [32]:
df_movies.dropna(subset=['release_date'], inplace=True) # drop rows only if there are null values in "release_date" column

In [ ]:
# df_movies['release_date'] = df_movies['release_date'].dt.date # if we only need the date

In [61]:
df_movies["return"] = np.where(df_movies["budget"] != 0, df_movies["revenue"] / df_movies["budget"], 0)

In [136]:
df_movies.to_csv("../processed_data/movies.csv", index=False) # False because we don't need the index in the csv file as an additional column

# Credits

In [76]:
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [67]:
df_credits.dtypes

cast    object
crew    object
id       int64
dtype: object

In [69]:
df_credits.shape

(45476, 3)

In [70]:
df_credits["cast"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_credits["cast"]]

In [73]:
df_credits["crew"] = [x if pd.isnull(x) else ast.literal_eval(x) for x in df_credits["crew"]]

In [87]:
pd.DataFrame(df_credits["cast"][0]).assign(id = df_credits["id"][0]) # we need to do this but for every row and every column

,cast_id,character,credit_id,gender,id,name,order,profile_path
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,862,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,862,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,862,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,862,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,862,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,862,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,862,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,862,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,862,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,862,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,862,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,862,Sarah Freeman,11,None
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,862,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg

In [119]:
list_of_df_cast = []
for i in range(len(df_credits)):
    dfi = pd.DataFrame(df_credits["cast"][i]).assign(id = df_credits["id"][i])
    list_of_df_cast.append(dfi)

In [126]:
df_cast = pd.concat(list_of_df_cast, ignore_index=True) # ignore_index ignore the index of original df's, assign new ones and guarantee continuous index

In [128]:
df_cast.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path
0,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,862,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,862,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,862,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,862,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,862,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg

In [130]:
list_of_df_crew = []
for i in range(len(df_credits)):
    dfi = pd.DataFrame(df_credits["crew"][i]).assign(id = df_credits["id"][i])
    list_of_df_crew.append(dfi)

In [131]:
df_crew = pd.concat(list_of_df_crew, ignore_index=True)

In [133]:
df_cast.to_csv("../processed_data/cast.csv", index=False)

In [134]:
df_crew.to_csv("../processed_data/crew.csv", index=False)

In [17]:
df2 = pd.read_csv("../processed_data/cast.csv")

In [ ]:
df2.drop_duplicates()

In [18]:
df2[df2.duplicated(keep=False)].sort_values(by="name")

,cast_id,character,credit_id,gender,id,name,order,profile_path
367040,6.0,Fiona,52fe4527c3a36847f80bf5bb,1.0,9755,A.J. Cook,5.0,/tvEjGDQVuu7jiOvWXwEU6tEE7NW.jpg
366195,6.0,Fiona,52fe4527c3a36847f80bf5bb,1.0,9755,A.J. Cook,5.0,/tvEjGDQVuu7jiOvWXwEU6tEE7NW.jpg
366206,6.0,Ray,52fe4a99c3a368484e15cc59,0.0,123634,Aaron C. Peer,0.0,NaN
367051,6.0,Ray,52fe4a99c3a368484e15cc59,0.0,123634,Aaron C. Peer,0.0,NaN
367039,5.0,Roman,52fe4527c3a36847f80bf5b7,2.0,9755,Aaron Pearl,4.0,/bgc9RfqNqK4pPVmt4FWJtlCS1fz.jpg
...,...,...,...,...,...,...,...,...
367064,6.0,Yves Mourousi,52fe44b8c3a36847f80a637b,0.0,8767,Yves Mourousi,6.0,NaN
366886,8.0,Matte,55b4fca292514125da0148ef,2.0,24023,Zeljko Santrac,9.0,/AetgbwQeYM95c9MPTX9yeDJS6Ew.jpg
366142,8.0,Matte,55b4fca292514125da0148ef,2.0,24023,Zeljko Santrac,9.0,/AetgbwQeYM95c9MPTX9yeDJS6Ew.jpg
366131,14.0,un passant,5443b0de0e0a26634d004c7d,0.0,199591,Zhaida Uddin,11.0,NaN
366875,14.0,un passant,5443b0de0e0a26634d004c7d,0.0,199591,Zhaida Uddin,11.0,NaN

In [2]:
df = pd.read_csv("../processed_data/movies.csv")

In [16]:
df[df.duplicated(keep=False)].sort_values(by="title")

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection,genres_list,spoken_languages_list,production_companies_list,production_countries_list,release_year,return
13256,0.0,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,2008-12-26,0.0,108.0,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,NaN,"['Thriller', 'Mystery']",['fi'],['Filmiteollisuus Fine'],['FI'],2008,0.0
13370,0.0,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,2008-12-26,0.0,108.0,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,NaN,"['Thriller', 'Mystery']",['fi'],['Filmiteollisuus Fine'],['FI'],2008,0.0
16757,0.0,141971,fi,Recovering from a nail gun shot to the head an...,0.411949,2008-12-26,0.0,108.0,Released,Which one is the first to return - memory or t...,Blackout,6.7,3.0,NaN,"['Thriller', 'Mystery']",['fi'],['Filmiteollisuus Fine'],['FI'],2008,0.0
17220,0.0,25541,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,2009-10-21,0.0,90.0,Released,NaN,Brotherhood,7.1,21.0,NaN,['Drama'],['da'],[],"['SE', 'DK']",2009,0.0
23017,0.0,25541,da,Former Danish servicemen Lars and Jimmy are th...,2.587911,2009-10-21,0.0,90.0,Released,NaN,Brotherhood,7.1,21.0,NaN,['Drama'],['da'],[],"['SE', 'DK']",2009,0.0
39980,980000.0,298721,th,"In a hospital, ten soldiers are being treated ...",2.535419,2015-09-02,0.0,122.0,Released,NaN,Cemetery of Splendour,4.4,50.0,NaN,"['Drama', 'Fantasy']","['en', 'th']","['Match Factory, The', 'Louverture Films', 'To...","['GB', 'US', 'FR', 'TH', 'DE', 'MY', 'KR', 'MX...",2015,0.0
33144,980000.0,298721,th,"In a hospital, ten soldiers are being treated ...",2.535419,2015-09-02,0.0,122.0,Released,NaN,Cemetery of Splendour,4.4,50.0,NaN,"['Drama', 'Fantasy']","['en', 'th']","['Match Factory, The', 'Louverture Films', 'To...","['GB', 'US', 'FR', 'TH', 'DE', 'MY', 'KR', 'MX...",2015,0.0
22125,0.0,18440,en,When a comet strikes Earth and kicks up a clou...,1.436085,2007-01-01,0.0,89.0,Released,NaN,Days of Darkness,5.0,5.0,NaN,"['Action', 'Horror', 'Science Fiction']",['en'],[],['US'],2007,0.0
13994,0.0,18440,en,When a comet strikes Earth and kicks up a clou...,1.436085,2007-01-01,0.0,89.0,Released,NaN,Days of Darkness,5.0,5.0,NaN,"['Action', 'Horror', 'Science Fiction']",['en'],[],['US'],2007,0.0
24814,0.0,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,2008-01-29,0.0,85.0,Released,NaN,Deal,5.2,22.0,NaN,"['Comedy', 'Drama']",['en'],"['Andertainment Group', 'Crescent City Picture...",['US'],2008,0.0
14006,0.0,11115,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,2008-01-29,0.0,85.0,Released,NaN,Deal,5.2,22.0,NaN,"['Comedy', 'Drama']",['en'],"['Andertainment Group', 'Crescent City Picture...",['US'],2008,0.0
24135,0.0,265189,sv,"While holidaying in the French Alps, a Swedish...",12.165685,2014-08-15,1359497.0,118.0,Released,NaN,Force Majeure,6.8,255.0,NaN,"['Comedy', 'Drama']","['fr', 'no', 'sv', 'en']","['Motlys', 'Coproduction Office', 'Film i VÃ¤st']","['NO', 'SE', 'FR']",2014,0.0
45178,0.0,265189,sv,"While holidaying in the French Alps, a Swedish...",12.165685,2014-08-15,1359497.0,118.0,Released,NaN,Force Majeure,6.8,255.0,NaN,"['Comedy', 'Drama']","['fr', 'no', 'sv', 'en']","['Motlys', 'Coproduction Office', 'Film i VÃ¤st']","['NO', 'SE', 'FR']",2014,0.0
15695,0.0,42495,en,"King Lear, old and tired, divides his kingdom ...",0.187901,1971-02-04,0.0,137.0,Rumored,NaN,King Lear,8.0,3.0,NaN,"['Drama', 'Foreign']",['en'],"['Royal Shakespeare Company', 'Laterna Film', ...","['DK', 'GB']",1971,0.0
29343,0.0,42495,en,"King Lear, old and tired, divides his kingdom ...",0.187901,1971-02-04,0.0,137.0,Rumored,NaN,King Lear,8.0,3.0,NaN,"['Drama', 'Foreign']",['en'],"['Royal Shakespeare Company', 'Laterna Film', ...","['DK', 'GB']",1971,0.0
7340,0.0,5511,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,1967-10-25,39481.0,105.0,Released,There is no solitude greater than that of the ...,Le SamouraÃ¯,7.9,187.0,NaN,"['Crime', 'Drama', 'Thriller']",['fr'],"['Fida cinematografica', 'Compagnie Industriel...","['FR', 'IT']",1967,0.0
9160,0.0,5511,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,1967-10-25,39481.0,105.0,Released,There is no solitude greater than that of the ...,Le SamouraÃ¯,7.9,187.0,NaN,"['Crime', 'Drama', 'Thriller']",['fr'],"['Fida cinematografica', 'Compagnie Industriel...","['FR', 'IT']",1967,0.0
13598,0.0,168538,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,1983-06-13,0.0,92.0,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0,NaN,"['Drama', 'Comedy']",[],"['Cannon Group', 'Metro-Goldwyn-Mayer (MGM)']",[],1983,0.0
28829,0.0,168538,en,"In Zola's Paris, an ingenue arrives at a tony ...",1.276602,1983-06-13,0.0,92.0,Released,NaN,"Nana, the True Key of Pleasure",4.7,3.0,NaN,"['Drama', 'Comedy']",[],"['Cannon Group', 'Metro-Goldwyn-Mayer (MGM)']",[],1983,0.0
40213,0.0,97995,en,"After breaking a mirror in his home, superstit...",0.141558,1921-02-06,0.0,62.0,Released,NaN,Seven Years Bad Luck,5.6,4.0,NaN,['Comedy'],['en'],['Max Linder Productions'],['US'],1921,0.0
13940,0.0,97995,en,"After breaking a mirror in his home, superstit...",0.141558,1921-02-06,0.0,62.0,Released,NaN,Seven Years Bad Luck,5.6,4.0,NaN,['Comedy'],['en'],['Max Linder Productions'],['US'],1921,0.0
19908,0.0,152795,en,More than two decades after catapulting to sta...,8.534039,2013-05-16,455815.0,122.0,Released,NaN,The Congress,6.4,165.0,NaN,"['Drama', 'Science Fiction', 'Animation']",['en'],"['Pandora Filmproduktion', 'Entre Chien et Lou...","['BE', 'FR', 'DE', 'IL', 'LU', 'PL']",2013,0.0
21830,0.0,152795,en,More than two decades after catapulting to sta...,8.534039,2013-05-16,455815.0,122.0,Released,NaN,The Congress,6.4,165.0,NaN,"['Drama', 'Science Fiction', 'Animation']",['en'],"['Pandora Filmproduktion', 'Entre Chien et Lou...","['BE', 'FR', 'DE', 'IL', 'LU', 'PL']",2013,0.0
1463,0.0,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,1995-02-16,0.0,115.0,Released,"A love, a hope, a wall.",The Promise,5.0,1.0,NaN,"['Drama', 'Romance']",['de'],"['Studio Babelsberg', 'Centre National de la C...",['DE'],1995,0.0
676,0.0,105045,de,"East-Berlin, 1961, shortly after the erection ...",0.122178,1995-02-16,0.0,115.0,Released,"A love, a hope, a wall.",The Promise,5.0,1.0,NaN,"['Drama', 'Romance']",['de'],"['Studio Babelsberg', 'Centre National de la C...",['DE'],1995,0.0
21143,0.0,119916,en,"Prospero, the true Duke of Milan is now living...",0.000018,1980-02-27,0.0,123.0,Released,NaN,The Tempest,0.0,0.0,NaN,"['Fantasy', 'Drama', 'Science Fiction']",[],[],[],1980,0.0
19873,0.0,119916,en,"Prospero, the true Duke of Milan is now living...",0.000018,1980-02-27,0.0,123.0,Released,NaN,The Tempest,0.0,0.0,NaN,"['Fantasy', 'Drama', 'Science Fiction']",[],[],[],1980,0.0
38813,0.0,99080,en,"Originally called White Thunder, American prod...",0.002362,1931-06-21,0.0,70.0,Released,Actually produced during the Great Newfoundlan...,The Viking,0.0,0.0,NaN,"['Action', 'Drama', 'Romance', 'Adventure']",['en'],[],[],1931,0.0
16160,0.0,99080,en,"Originally called White Thunder, American prod...",0.002362,1931-06-21,0.0,70.0,Released,Actually produced during the Great Newfoundlan...,The Viking,0.0,0.0,NaN,"['Action', 'Drama', 'Romance', 'Adventure']",['en'],[],[],1931,0.0
8063,0.0,23305,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,2001-09-23,0.0,86.0,Released,NaN,The Warrior,6.3,15.0,NaN,"['Adventure', 'Animation', 'Drama', 'Action', ...",['hi'],['Filmfour'],"['FR', 'DE', 'IN', 'GB']",2001,0.0
9322,0.0,23305,en,"In feudal India, a warrior (Khan) who renounce...",1.967992,2001-09-23,0.0,86.0,Released,NaN,The Warrior,6.3,15.0,NaN,"['Adventure', 'Animation', 'Drama', 'Action', ...",['hi'],['Filmfour'],"['FR', 'DE', 'IN', 'GB']",2001,0.0
13215,0.0,159849,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,1943-01-01,0.0,57.0,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0,Why We Fight,['Documentary'],['en'],[],['US'],1943,0.0
35751,0.0,159849,en,"The third film of Frank Capra's 'Why We Fight""...",0.473322,1943-01-01,0.0,57.0,Released,NaN,Why We Fight: Divide and Conquer,5.0,1.0,Why We Fight,['Documentary'],['en'],[],['US'],1943,0.0